<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about</title>
  <link href="/Templates/stayles.css" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
        <li><a href="/Templates/page.html">דף הבית</a></li>
        <li><a href="/Templates/contact.html">צור קשר</a></li>
       
    </ul>
</nav>
  <h1>about</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quidem. Tempora optio, nulla facere consequuntur ullam dolore delectus. Error unde similique asperiores laboriosam beatae aliquam, excepturi architecto tempora magni temporibus?</p>
<footer>&copy; 2025 Kassa</footer>
</body>
</html>