<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matala7</title>
  <link href="/Templates/stayles.css" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
        <li><a href="/">דף הבית</a></li>
        <li><a href="/Templates/about.html">אודות</a></li>
        <li><a href="/Templates/contact.html">צור קשר</a></li>
    </ul>
</nav>

  <h1> Book Component By Function</h1>
  <img src ="/Templates/images/ex1.jpg" alt="bookPhoto">

  
  <div>
    <h2>By Kyle Simpson</h2>
    <p>
      Parts of the language that many javaScript<br>Programers simply avoid
    </p>
  </div>
  

  <footer> &copy;  2021 Nati</footer>
</body>
</html>